div.navigation {
overflow:hidden;
height:17px !important;
margin:-3px 0 0 0;
}
ul.navigation {
	margin-left:-15px;
}
ul.navigation li{
display:inline-block;
overflow:hidden;
}
ul.navigation ul {
	width:105px !important;
	padding-left:308px !important;
	left: 194px !important;
}
div.navigation  ul ul li{
	background-color: #404040 !important;
}
ul.navigation ul a{
	text-indent:.2em !important;
}
ul.navigation li a{    
	display:inline;		
	padding:0;	
	margin:0;	
	overflow:hidden;
	padding-top:20px;
	text-indent:1em !important;
}

div.gallery.inspiration {
    right:270px;
}

div.gallery.tinycarousel {
    right:260px;
}
div.category-title h1.timeless-subtitles{
	margin-top: 40px !important;
}
div.category-title{
	margin-top: 37px !important;
}
/*************** CONTENT PAGES **********************/
div.content.index.index{
	height: 410px !important;
}
div.header-icon {
margin-top:-9px;
}

