html, body {}
div.container {
filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='5');
}
div.gallery.inspiration li {
height:30px;
}
div.gallery.inspiration li.active,
div.gallery.inspiration li:hover {
background-color:#333;
}
div.image-right img{
	width: 50%;
	position: relative;
	left: 450px; top: -200px;
}
div.content.index.index{
	margin: 50px 78px 0px 78px !important;
}
div.block-content p.home{
	margin-top: 30px;
}
div.category-title{
	margin-left: -5px !important;
}
div.navigation{
	margin-top: -78px;
}
div.navigation ul ul{
	position: absolute;
	top: 166px;
	left: 390px;
	padding-top: 0;
}