html, body {}
div.container {

}
div.gallery.inspiration li {
height:30px;
}
div.gallery.inspiration li.active,
div.gallery.inspiration li:hover {
background-color:#333;
}
div.image-right img{
	/*width: 50%;
	position: relative;
	left: 450px; top: -200px;*/
}
div.content.index.index{
	margin: 50px 165px 0px 78px;
}
div.block-content p.home{
	margin-top: 30px;
}
div.category-title{
	
}
div.navigation{
	background-color: #404040;
}
div.navigation ul ul{
	position: absolute;
	top: 166px;
	left: 390px;
	padding-top: 0;
}
div#exposeMask{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

/******************* collection ************************/
div.category-title-collection{
	float:left;
    display:inline;
    margin-left:-20px;   
	overflow: hidden;
	height: 80px;
}
div.category-title-collection.late-victorian{
	margin-bottom: 10px;
	margin-top: -8px;
}
div.category-title-collection.art-nouveau img{
	margin-top: -145px;
}
div.category-title-collection.art-deco img{
	margin-top: -77px;
}
div.category-title-collection.late-victorian img{
	margin-top: 1px;
}
div.gallery.inspiration li {
   padding-left: 1em !important;
}

/*** main menu ***/
ul.navigation li a {margin-top:2px;}
