html, body {
    background-color: #c9c9c9;
    background-image: url('../images/bg-grey-repeat-x.jpg');
	
    background-repeat: repeat-x;
    margin: 0pt;
    padding: 0pt;
    text-align:center;
    font-family:"Times New Roman", serif;
    font-size:95%;
}
a {
    text-decoration:none;
    border:none;
}
img {
    border:none;
}
h2, h3 {
    font-weight:400;
    font-style:italic;
}
div.container {
    width:980px;
    margin:0 auto;
    background-color:#000;
    color:#999;
    text-align:left;
	z-index:2;
}

/************************************* NAVIGATION **************************************/
div.navigation ul > li,
div.navigation ul > li a {
    display: inline;
    list-style-type: none;
    color:#c9c9c9;
}
div.navigation ul ul {
    position:absolute;
    padding: 5px 0 0 298px;
    display: none;
	width:95px;	
}
div.navigation ul ul a{
	text-indent:.8em !important;
	background:none;
	padding:2px 0;
	font-size:0.9em;
	font-weight:500;	
}

div.navigation ul li:hover  ul{
	display: block !important;
	z-index:100;
}
div.navigation ul li a:hover{
	color: #e2e2e2;	
}
div.navigation ul ul li {
    border-right: none;
    display: block;
    line-height: 1.2em;
	background-color: #404040;
}
div.navigation {    
    padding: 0 0 3px 205px;
	margin:-4px 0 0 0;
	clear:both;
	background-color:#404040;
}
div.navigation ul li:last-child{
	border-right: none;
}
ul.navigation {
	margin:0;
	padding:0;	
	background-position:0 0;
	background-repeat: no-repeat;
}
ul.navigation, ul.navigation li, ul.navigation li a{
	z-index: 100;
	font-size: 14px;		
	font-family: Times New Roman;
}
ul.navigation li {    
	width:auto;
	display:inline;
	padding:0;
	margin:0;
}
ul.navigation li a{    
	display:inline-block !important;
	background-image:url(../images/main_menu.jpg);
	text-indent:-9999px;
	padding:0;
	margin:0;
}
ul.navigation li a.home 		{width:58px;background-position:0 0}
ul.navigation li a.vision		{width:69px;background-position:-58px 0}
ul.navigation li a.history  	{width:75px;background-position:-132px 0}
ul.navigation li a.factory  	{width:75px;background-position:-212px 0}
ul.navigation li a.collection 	{width:91px;background-position:-292px 0}
ul.navigation li a.vacancies 	{width:87px;background-position:-388px 0}
ul.navigation li a.contact 		{width:77px;background-position:-480px 0}

ul#inspiration li a#inspiration-active{
	color: #FFF;
}
/*
ul.navigation li a {
    opacity:0;
}   
ul.navigation li ul li a{
	opacity:1;
}
*/

div.header-icon {
	position:absolute;
	top:8px;
	float:left;	
}
div.header-icon img {
	margin:0;
	padding:0;
	border:none;
}

div.content {
    margin:47px 165px 0px 78px;
    min-height:640px;
	position: relative;
}
div.category-title.art-nouveau img {
    margin-top:-22px;
}
div.category-title.art-deco img {
    margin-top:-80px;
}
div.category-title.late-victorian img {
    margin-top:-143px;
}
div.category-title.vision img{
	margin-top: -32px;
}
div.category-title.history img{
	margin-top: -32px;
}
div.category-title.factory img{
	margin-top: -32px;
}
div.category-title.vacancies img{
	margin-top: -32px;
}
div.category-title.contact img{
	margin-top: -32px;
}
div.image-right img{
	/*width: 50%;
	position: relative;
	left: 450px; top: -200px;*/
}
div.content.category div.gallery {
    float:right;
    display:inline;
    position:relative;
}
div.gallery.spotlight {
    right:262px;
    top:24px;
    z-index:41;
}
div.gallery.tinycarousel {
    right:358px;
    top:7px;
    z-index:42;
}

div#products.gallery.tinycarousel { height: 550px; overflow:hidden; }
div#products.gallery.tinycarousel .viewport { float: left; width: 125px; height: 440px; overflow: hidden; position: relative; clear:both; }
div#products.gallery.tinycarousel .buttons { display: inline-block; position:relative; float:left; clear:both; height:30px; width:125px;}
div#products.gallery.tinycarousel a.buttons {border:none}
div#products.gallery.tinycarousel .buttons img { margin:0 35%; }
div#products.gallery.tinycarousel .disable { opacity: .5; }
div#products.gallery.tinycarousel .overview { list-style: none; position: absolute; padding: 0; margin: 0; left: 0; top: 0; }
div#products.gallery.tinycarousel .overview li{ float: left; margin: 11px 0; text-align:center;  border: 1px solid #dcdcdc; height:122px; width:122px; }
div#products.gallery.tinycarousel .overview li img {margin:20px auto}


div.gallery.inspiration {
    right:367px;
    top:-8px;
    z-index:43;
}
div.content.category div.gallery ul > li {
    list-style-type:none;
    padding:0;
}
div.content.category div.gallery ul {
    padding:0;
    margin:-11px 0 0 0;
}
div.category-title {
    float:left;
    display:inline;
    margin-left:-20px;   
	margin-top: 25px;
}
div.category-title-collection{
	float:left;
    display:inline;
    margin-left:-20px;   
	
	overflow: hidden;
}
div.extra-info{
	background-color: #7F6E57;
    -moz-border-radius: 5px;
	border-radius: 5px;
    color: #000000;
    left: 74px;
    display: none;
    padding: 0 5px;
    position: relative;
    top: -6px;
}
div.circa {
    float:right;
    display:inline;
    font-size:0.85em;
    padding-top:26px;
    height:45px;
}
div.category-info.category-header hr{
	clear:both;
    text-align:justify;
	height:1px;
	border-width:0;
	color: #9ea19a;
	background-color: #9ea19a;
	margin-bottom: 12px;
}

div.category-info.category-header p{
    clear:none;
    text-align:left;
}
div.category-info.category-header p.factory{
	width: 410px;
}
div.category-info.category-header p {
    /* font-size:0.835em; */
	font-size: 14px;
    line-height:1.5em;
	margin-top: 0;
	width: 500px;
	text-align:justify;
}
div.category-info.category-header.collection p{
	width: 100%;
}
div.gallery.inspiration h2 {
    color:#eee;    
}
div.gallery.inspiration li {
    font-size:0.99em;
    line-height:1.2em;
    height:12.8px !important;
    margin:5px 0;
    padding:0.1em 0em .45em 1.45em !important;
    width:225px;
}
div.gallery.inspiration li a {
    color:#c9c9c9;
    font-size:0.9em;
}
div.gallery.inspiration li {
    background-image:url('../images/designers-bullet.png');
    background-repeat:no-repeat;
    background-position:-3px 50%
}
div.gallery.inspiration li.active,
div.gallery.inspiration li:hover {
    background-position:90% 50%;
    background-color:#191919;
}
div.gallery.inspiration  li a:hover + div.extra-info{
	display: block;
}
div.gallery.inspiration  li:hover > div.extra-info{
	display: block;
}
div.gallery.inspiration li.active {
    background-position:95% 50%;
    width:220px !important;
}
img#spotlight-sep {
    display:block;
}
img#spotlight-sep + p {
    color:#eee;
}
div.gallery.spotlight p {
    font-size:0.85em;
    margin:0;
    padding:0;
    line-height:1.5em;
}
div.footer {
    clear:both;
    background-color:#191919;
    font-size:80%;
    padding:5px 30px;
    margin:150px 0 0 0;
}
div.content.contact  + div.footer { 
	margin:60px 0 0 0;
}
div.content.vacancies + div.footer {
    margin:30px 0 0 0;
}
div.content.vision + div.footer {
    margin:40px 0 0 0;
}
div.content.history + div.footer {
    margin:30px 0 0 0;
}
div.content.factory + div.footer {
    margin:30px 0 0 0;
}
div.footer p.copyright {
    width:400px;
    display:inline;
}
div.footer ul {
    display:inline;
    float:right;
    margin:0;
}
div.footer li {
    margin:0;
    padding:0 1em;
    display:inline;
    list-style:none outside none;
}
div.footer li a {
    color:#fff   
}
div.footer li a:hover {
    color:#ddd
}

#slideshow, #selected-product {
     margin: 0pt auto;
     padding-right: 51px;
     position: relative;
     width: auto;
     float:left;
}

#slideshow div, #selected-product div {
     background-color: #000000;
     left: 0pt;
     margin: 0pt auto;
     
     position: absolute;
     top: 0pt;
     width: 419px;
     z-index: 8;
}
#slideshow div {
    display:none;
}

#slideshow div.prod,
#selected-product div.prod {
     margin: 0pt auto;
     text-align: center;
     width: 100%;
}

#slideshow div.active,
#selected-product div.active {
     display: block;
     z-index: 10;
}

#slideshow div.last-active,
#selected-product div.last-active {
     z-index: 9;
}

#slideshow div img,
#selected-product div img {
     border: 0pt none;
     left: 20%;
     margin-bottom: 10px;
     position: relative;
}

#slideshow .item p,
#selected-product .item p {
     text-align: center;
}

/*********************** HOME PAGE *********************/
div.block-content p.home{
	font-family: Brush Script Std;
	font-size: 1.5em;
    margin-top: 70px;
    text-align: center;
	color: #e1e1e1;	
}
div.category-title.home img{
	margin-top: -32px;

}
div.home{
	margin-bottom: 20px;
}
div.category-info.category-header div.home-collection div{
	display: inline;
	text-align: center;	
	margin-right: 41px;
	float: left;
}
div div.home-deco{
	margin-right: 0 !important;
}
div div img.images{
	display: block;
	border-bottom: 1px solid #9ea19a;
}
div.category-title  h1.timeless-subtitles{
	padding-left: 15px;
	margin-top: 25px;
}
div.category-title h1{
	margin-bottom: 5px;
}

/*********************** VISION PAGE *********************/

div.image-right{
	border: 1px solid #9ea19a;
    float: right;
    margin-left: 10px;
    padding: 5px 49px;
}

/*********************** HISTORY PAGE *********************/
.htabs {
    overflow: hidden;
    float:right;
	display:inline;
	width:33px;
	padding:0;
}
.htabs ul{
	list-style-type: none;
}
.tabs {
    margin-top: 2px;
    overflow: hidden;
}
.tabs.history{
	width: 513px;
}
.htabs li {
    float: left;
    overflow: hidden;
	list-style-type: none;
	margin:0;
	padding:0 2px;
	width:auto;
	
}
.htabs a img{
	width: 30px;
}
div.language-english, div.language-dutch{
	padding-right: 1em;
}
div.language-english p, div.language-dutch p{
	line-height: 1.2em;
    text-align: justify;
}
div p.history1{
	font-weight:bold;
}
div.language-dutch p {
    line-height: 1.4em;
}
div.image-history img{
	border: 1px solid;
    float: right;
	padding: 5px;
	margin-left: 10px;
}

/*********************** VACANCIES PAGE *********************/
div.tabs div.vacancies{
	text-align: justify;
}
div.category-info.category-header div div ul{
	text-align: left;
}
div.image-right-vacancies{
	border: 1px solid #9ea19a;
    float: right;
    margin-left: 10px;
	padding: 5px 10px;
}
ul.vacancies-address{
	list-style-type: none;
	padding-left: 0;
}
/*********************** CONTACT PAGE *********************/
div.contact-info p{
	margin-top: 0;
}
div.contact-info{
	clear: both;
}
ul.contact{
	list-style-type: none;
    padding-left: 0;
}
div.image-contact{
	border: 1px solid #9ea19a;
    float: right;
    margin-left: 10px;
	padding: 5px 18px;
}
div.contact-form{
	margin-bottom: 25px;
	float: left;
}
div.glcorporate{
	border-left: 1px solid #FFFFFF;
	box-shadow: 3px 3px 3px 1px #4C4C4C;
	-moz-box-shadow: 3px 3px 3px 1px #4C4C4C;
	-webkit-box-shadow: 3px 3px 3px 1px #4C4C4C;
	margin-bottom: 50px;
	behavior:url('/pie/PIE.htc');
	position:relative;
	z-index:0;
	margin-top:-8px;
}
div.glcorporate.container.main {
    overflow:hidden;
	padding-bottom:30px;
}
div.glcorporate.container.collection {
    overflow:hidden;
	padding-bottom:5px;
}
div.content.index {
    min-height:350px;
    height:100%;
}
img.image.contact1{
	left: 187px;
    position: relative;
    top: 272px;
    width: 24%;
}
form#contactForm input, form#contactForm textarea{
	background-image:url(../images/textbox_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 230px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
}
form#contactForm input.submit{
	width: 238px;
}
form#contactForm input.error, form#contactForm textarea.error{
	background-color: #FEECEC;
    background-image: none;
}
form#contactForm label.error{
	color: #F5403A;
}
/*********************** FACTORY PAGE *********************/
/* overlay size and background image */
.overlay {
	width:800px;
	height:600px;
	background-image:url(../images/factory-bg.jpg);
	display:none;
	padding: 0 !important;
}
/* close button for overlay */
.overlay .close {
	background:url(http://static.flowplayer.org/img/overlay/close.png) no-repeat;
	position:absolute;
	top:2px;
	right:5px;
	width:35px;
	height:35px;
	cursor:pointer;
}

/* original size of the player */
#player, #player_api {
	height: 233px;
    width: 310px;
	display:block;
}

/* absolute positioning of the player */
#player_api {
	position:absolute; 	
	/* layer as the topmost element */
	z-index:10000; 	
}
div.factory-video{
	margin-left: 10px;
	float: right;
	border: 1px solid;
}
p.factory{
	clear: none !important;
}


/******************* collection ************************/
div.category-title-collection{
	float:left;
    display:inline;
    margin-left:-20px;   
	overflow: hidden;
	height: 80px;
}
div.category-title-collection.late-victorian{
	margin-bottom: 10px;
	margin-top: -8px;
}
div.category-title-collection.art-nouveau img{
	margin-top: -145px;
}
div.category-title-collection.art-deco img{
	margin-top: -77px;
}
div.category-title-collection.late-victorian img{
	margin-top: 1px;
}
